.auth {
    width: 100%;

    &-wrap {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &-left {
        width: 40%;
        background: var(--color-bg-light);
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-logo {
        position: relative;
        svg {
            width: 286px;
            height: 120px;
            path{
                fill: var(--color-text);
            }
        }
        &:before, &:after{
            content: '';
            position: absolute;
            background: url("/themes/default/img/bubble.png") center center no-repeat;
            background-size: cover;
        }
        &:before{
            width: 149px;
            height: 149px;
            top: -280px;
            left: -50%;
        }
        &:after{
            width: 106px;
            height: 106px;
            bottom: -260px;
            right: -50%;
        }
    }

    &-right {
        width: 60%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        h1{
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            color: var(--color-text);
            margin-bottom: 16px;
        }
        p{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: var(--color-text-gray);
        }
        p + p{
            margin-top: 16px;
        }
        a.btn-blue{
            margin-top: 56px;
        }
    }
}
