.choose{
    background: #161628;
    width: 100%;
    &-wrapper{
        width: 100%;
        background: url("/themes/default/img/choose/choose-bg.png") center center no-repeat;
        background-size: cover;
    }
    &-wrap{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-item{
        &-wrap{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        &:before{
            width: 628px;
            height: 628px;
            content: '';
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%, 50%) scale(0);
            transition: transform 0.5s ease-in-out;
            border: 2px solid transparent;
            display: block;
            border-radius: 50%;
            z-index: 0;
            background: linear-gradient(97.48deg, #312e40 -17.7%, #1e192e 112.27%) content-box,
            linear-gradient(120deg, rgba(0, 141, 255, 1) 0%, rgba(64, 137, 196, 1) 29%, rgba(170, 71, 124, 1) 51%, rgba(139, 255, 234, 1) 71%, rgba(64, 137, 196, 1) 100%) border-box;
        }
        &:hover{
            h2{
                color: #FFFFFF;
            }
            a{
                opacity: 1;
                 visibility: visible;
            }
            &:before{
                transform: translate(-50%, 50%) scale(1);
            }
        }
        h2{
            max-width: 460px;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            color: #8899B8;
            margin-bottom: 48px;
            transition: color 0.4s ease-in-out;
            position: relative;
            z-index: 1;
        }
        a{
            position: relative;
            z-index: 1;
            opacity: 0;
            visibility: visible;
            transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        }
    }
}
@media screen and (max-width: 1100px){
    .choose{
        &-wrapper{
            background: none;
        }
        &-item{
            &-wrap{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            h2{
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 24px;
            }
            a{
                opacity: 1;
                visibility: visible;
            }
        }
        &-item + &-item{
            margin-top: 100px;
        }
    }
}
@media screen and (max-width: 450px){
    .choose{
        &-wrapper{
            overflow: hidden;
        }
        &-item{
           &:before{
               display: none;
           }
            &:last-child{
                &:after{
                    width: 628px;
                    height: 628px;
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -60%;
                    transform: translateX(-50%);
                    transition: transform 0.5s ease-in-out;
                    border: 2px solid transparent;
                    display: block;
                    border-radius: 50%;
                    z-index: 0;
                    background: linear-gradient(97.48deg, #312e40 -17.7%, #1e192e 112.27%) content-box,
                    linear-gradient(120deg, rgba(0, 141, 255, 1) 0%, rgba(64, 137, 196, 1) 29%, rgba(170, 71, 124, 1) 51%, rgba(139, 255, 234, 1) 71%, rgba(64, 137, 196, 1) 100%) border-box;
                }
            }
        }
    }
}
