.contact{
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 170px;
    width: 100%;
    background: #161628;
    position: relative;
    &-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: url("/themes/default/img/contact/contact-bg.png") center center no-repeat;
        //background-size: cover;
    }
    &-container{
        max-width: 622px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 40px;
            a{
                color: #008DFF;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                display: inline-block;
                &:before{
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #008DFF;
                    left: 0;
                    content: '';
                    transition: width 0.3s ease-in-out;
                }
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }
    &-form{
        &-wrap{
            width: 100%;
            background: linear-gradient(154.95deg, rgba(22, 22, 40, 0.0854) -2.32%, rgba(22, 22, 40, 0.14) 89.57%);
            box-shadow: 0 4px 80px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(25px);
            border-radius: 16px;
        }
        &-container{
            width: 100%;
            height: 100%;
            padding: 32px 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            .btn-wrap{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 32px;
            }
        }

        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 900px){
    .contact{
        padding-top: 145px;
        padding-bottom: 50px;
        &-container{
            h1{
                padding-left: 24px;
                padding-right: 24px;
                br{
                    display: none;
                }
            }
        }
    }
}
