.footer{
    background: #1B1B34;
    width: 100%;
    &-wrap{
        width: 100%;
        padding: 30px 0 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-container{
        max-width: 1280px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-link-col{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        h3{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            margin-bottom: 24px;
        }
        p, a{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #58667E;
        }
        a{
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                margin-top: 2px;
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
        }
        a + a{
            margin-top: 15px;
        }
        p{
            max-width: 288px;
        }
        p + p{
            margin-top: 24px;
        }
    }
}
@media screen and (max-width: 1328px){
    .footer{
        &-container{
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}
@media screen and (max-width: 740px){
    .footer-container{
        flex-direction: column;
        justify-content: flex-start;
        .footer-link-col + .footer-link-col{
            margin-top: 24px;
        }
    }
}
