.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding-top: 24px;
    z-index: 10;
    transition: padding-top 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    &.fixed{
        padding-top: 0;
        background: #161628;
        box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.6);
        .header-wrap{
            padding: 12px 0 12px 0;
        }
    }
    &-wrap{
        width: 100%;
        padding: 24px 0 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: padding 0.3s ease-in-out;
    }
    &-container{
        max-width: 1280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo{
        width: 129px;
        height: 58px;
        text-decoration: none;
        cursor: pointer;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &-link{
        &-container{
            display: flex;
            align-items: center;
            justify-content: center;
            .burger{
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-left: 24px;
                cursor: pointer;
                span{
                    display: block;
                    width: 18px;
                    height: 2px;
                    background: #EAECEF;
                    border-radius: 2px;
                }
                span + span{
                    margin-top: 5px;
                }
            }
        }
        &-btn{
            span{
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                padding: 12px 24px;
            }

            margin-left: 36px;
            text-decoration: none;
            cursor: pointer;
            display: block;
            background: linear-gradient(97.76deg, #008DFF -33.02%, #0085FF 11.39%, #00FFFF 123.89%);
            border-radius: 40px;
        }

        text-decoration: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #E5E5E5;
        position: relative;
        transition: color 0.3s ease-in-out;
        &:hover{
            color: #54B3FF;
            svg{
                stroke: #54B3FF;
            }
            .header-link-bar{
                opacity: 1;
                visibility: visible;
            }
        }
        svg{
            margin-left: 8px;
            margin-bottom: 2px;
            stroke: white;
            transition: stroke 0.3s ease-in-out;
        }
        &-bar{
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            position: absolute;
            top: calc(100% + 25px);
            right: 0;
            padding: 16px 42px 16px 24px;
            background: #171729;
            border: 1px solid #313C50;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            a{
                white-space: nowrap;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                padding: 8px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #8899B8;
                border-radius: 8px;
                background: transparent;
                transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                position: relative;
                &.active{
                    &:after{
                        position: absolute;
                        right: -16px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 13px;
                        height: 9px;
                        content: '';
                        background: url("/themes/default/img/check.svg") center center no-repeat;
                        background-size: contain;
                    }
                }
                &:hover{
                    background: #2A3149;
                    color: #FFFFFF;
                }
            }
        }
    }
    &-link + &-link{
        margin-left: 38px;
    }
}
.burger-menu{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: #161628;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
    &.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    &-wrap{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    &-head{
        width: 100%;
        padding: 26px 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .close-burger{
            svg{
                width: 13px;
                height: 13px;
                cursor: pointer;
            }
        }
    }
    &-link-container{
        border-top: 1px solid #2A3149;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 8px 36px;
        span{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #8899B8;
            margin-top: 20px;
        }
        a{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #E5E5E5;
            text-decoration: none;
            cursor: pointer;
            position: relative;
            &.active{
                color: #54B3FF;
                &:after{
                    position: absolute;
                    right: -25px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 13px;
                    height: 9px;
                    content: '';
                    background: url("/themes/default/img/check.svg") center center no-repeat;
                    background-size: contain;
                }
            }
            &.big{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        a + a{
            margin-top: 16px;
        }
    }
}
@media screen and (max-width: 1300px){
    .header{
        padding-top: 0;
        background: #161628;
        box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.6);
        .header-wrap{
            padding: 12px 0 12px 0;
        }
        &-container{
            padding-left: 24px;
            padding-right: 24px;
        }
        &-link{
            display: none;
            &-container{
                .burger{
                    display: flex;
                }
            }
            &-btn{
                span{
                    padding: 8px 16px;
                }
            }
        }
        &-logo{
            width: 60px;
            height: 27px;
        }
    }
}
