.header{
    position: fixed;
    left: 284px;
    right: 0;
    top: 0;
    width: calc(100% - 284px);
    background: $bg-light;
    z-index: 20;
    &-name{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 32px;
        &-ico{
            width: 48px;
            height: 48px;
            background: #229ED9;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
        h3{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            margin-left: 24px;
        }
    }
    &-container{
        padding: 24px 48px 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-search{
        width: 250px;
        margin-right: 70px;
        label{
            width: 100%;
            display: inline-block;
            position: relative;
            input{
                width: 100%;
                padding: 12px 16px 12px 36px;
                background: $input-bg;
                border: 1px solid $input-border;
                border-radius: 8px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #58667E;
            }
            span{
                display: inline-block;
                position: absolute;
                left: 16px;
                bottom: 50%;
                transform: translateY(50%);
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &-counter{
        display: flex;
        align-items: center;
        justify-content: center;
        &-item{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            span{
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;
                color: #A6B0C3;
            }
            p{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #FFFFFF;
                span{
                    margin-right: 4px;
                }
            }
        }
        &-item + &-item{
            margin-left: 68px;
        }
    }
    &-right{
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-blue{
            padding: 12px 16px;
        }
    }
    &-wallet{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
        background: $input-bg;
        margin-right: 24px;
        margin-left: 24px;
        svg{
            width: 24px;
            height: 24px;
        }
        span{
            margin-left: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $blue;
        }
    }
    &-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            svg{
                width: 16px;
                height: 16px;
            }
        }
        span{
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #58667E;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}
