.home{
    &-promo{
        width: 100%;
        background: #171628;
        &-wrapper{
            width: 100%;
            background: url("/themes/default/img/home/promo-bg.png") center center no-repeat;
            background-size: cover;
        }
        &-wrap{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 2;
            h1{
                font-style: normal;
                font-weight: 600;
                font-size: 72px;
                line-height: 88px;
                color: #EAEBF4;
                max-width: 880px;
                padding-bottom: 48px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                color: #8899B8;
                max-width: 640px;
                padding-bottom: 48px;
            }
        }
        &-btn-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            a + a{
                margin-left: 32px;
            }
        }
        &-img{
            position: absolute;
            width: 587px;
            height: 528px;
            z-index: 1;
            bottom: 15%;
            right: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-ventures{
        width: 100%;
        background: #171628;
        &-wrapper{
            padding-top: 218px;
            padding-bottom: 218px;
            width: 100%;
        }
        &-wrap{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            h2{
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 78px;
                color: #FFFFFF;
                margin-bottom: 55px;
            }
            p{
                max-width: 625px;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #8899B8;
                margin-bottom: 48px;
            }
        }
        &-img{
            width: 524px;
            height: 524px;
            position: absolute;
            right: 0;
            bottom: 50%;
            transform: translateY(50%);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-mission{
        width: 100%;
        background: linear-gradient(104.32deg, #161628 -3.68%, #1C1C39 103.47%);
        &-wrapper{
            width: 100%;
            padding-top: 200px;
            padding-bottom: 265px;
            background: url("/themes/default/img/home/mission-bg.png") center center no-repeat;
            background-size: cover;
        }
        &-container{
            margin: 0 auto;
            max-width: 761px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 78px;
                color: #FFFFFF;
                margin-bottom: 64px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #8899B8;
                padding-bottom: 300px;
            }
        }
        &-item{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            max-width: 550px;
            margin-right: 100px;
            &:last-child{
                margin-right: 0;
                margin-left: 100px;
            }
            h3{
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 36px;
                color: #FFFFFF;
                margin-bottom: 8px;
            }
            h4{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }
        &-item + &-item{
            margin-top: 285px;
        }
    }
    &-about{
        width: 100%;

        &-wrapper{
            padding-top: 151px;
            padding-bottom: 143px;
            width: 100%;
            background: #161628;
            position: relative;
            z-index: 0;
        }
        &-container{
            max-width: 1058px;
            width: 100%;
            margin: 0 auto;
            padding: 145px 150px 125px 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: url("/themes/default/img/home/about.png") center center no-repeat;
            background-size: cover;
            border-radius: 40px;
            position: relative;
            &:before{
                content: '';
                width: 188px;
                height: 188px;
                background: url("/themes/default/img/home/bubble.png") center center no-repeat;
                background-size: cover;
                position: absolute;
                left: -110px;
                top: -60px;
                z-index: -1;
            }
            &:after{
                content: '';
                width: 188px;
                height: 188px;
                background: url("/themes/default/img/home/bubble.png") center center no-repeat;
                background-size: cover;
                position: absolute;
                bottom: -13px;
                right: -100px;
                z-index: -1;
            }
            h2{
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 78px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 48px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 48px;
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .home{
        &-ventures{
            &-wrap{
                position: relative;
                z-index: 2;
            }
            &-img{
                z-index: 1;
            }
            &-wrapper{
                padding-top: 55px;
                padding-bottom: 0;
            }
        }
        &-mission{
            background: #171628;
        }
    }
}
@media screen and (max-width: 900px){
    .home{
        &-promo{
            &-btn-wrap{
                a + a{
                    margin-left: 15px;
                }
            }
            &-wrap{
                height: auto;
                padding-top: 90px;
                h1{
                    font-size: 36px;
                    line-height: 44px;
                    padding-bottom: 16px;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    padding-bottom: 16px;
                }
            }
            &-img{
                position: static;
                bottom: auto;
                right: auto;
                margin: 0 auto;
                width: 287px;
                height: 258px;
            }
        }
        &-ventures{
            &-wrap{
                h2{
                    font-size: 36px;
                    line-height: 44px;
                    margin-bottom: 40px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            &-img{
                width: 140px;
                height: 140px;
                bottom: auto;
                top: 0;
                transform: translateY(0);
            }
        }
        &-mission{
            &-wrapper{
                padding-top: 80px;
                padding-bottom: 0;
            }
            &-container{
                padding-left: 24px;
                padding-right: 24px;
                h2{
                    font-size: 36px;
                    line-height: 44px;
                    margin-bottom: 40px;
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                    padding-bottom: 149px;
                }
            }
            &-item{
                &:last-child{
                    margin-left: 0;
                }
                margin-right: 0;
                h3{
                    font-size: 24px;
                    line-height: 36px;
                }
                h4{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            &-item + &-item{
                margin-top: 147px;
            }
        }
        &-about{
            &-wrapper{
                padding-top: 80px;
                padding-bottom: 5px;
            }
            &-container{
                padding-left: 24px;
                padding-right: 24px;
                h2{
                    font-size: 36px;
                    line-height: 44px;
                    margin-bottom: 32px;
                }
                p{
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 32px;
                }
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 450px){
    .home-ventures-btn-wrap{
        width: 100%;
        a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
