.loading{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-container{
        max-width: 510px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        &:before, &:after{
            content: '';
            position: absolute;
            background: url("/themes/default/img/bubble.png") center center no-repeat;
            background-size: cover;
        }
        &:before{
            width: 149px;
            height: 149px;
            top: -120px;
            left: -50%;
        }
        &:after{
            width: 106px;
            height: 106px;
            bottom: -100px;
            right: -50%;
        }
        h2{
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            color: $text;
            margin-bottom: 16px;
        }
        p{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $text-gray;
        }
        p + p{
            margin-top: 16px;
        }
        span{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $text-gray;
            margin-top: 16px;
        }
        .line{
            max-width: 372px;
            width: 100%;
            background: #313C50;
            border-radius: 5px;
            height: 8px;
            position: relative;
            margin-top: 24px;
            &:before{
                background: linear-gradient(97.04deg, #008DFF -16.54%, #4089C4 18.49%, #AA477C 44.76%, #8BFFEA 69.16%, #4089C4 99.18%);
                border-radius: 5px;
                width: 80%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                content: '';
            }
        }
        svg{
            margin-top: 64px;
            width: 143px;
            height: 60px;
        }
    }
}
