.policy{
    width: 100%;
    min-height: 100vh;
    background: #161628;
    &-wrapper{
        padding-top: 200px;
        width: 100%;
    }
    &-wrap{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        h1{
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            color: #FFFFFF;
            margin-bottom: 48px;
        }
    }
    &-content{
        max-width: 890px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #8899B8;
        p, span, ul li, ol li{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #8899B8;
        }
    }
}
@media screen and (max-width: 900px){
    .policy-wrapper{
        padding-top: 80px;
        padding-bottom: 50px;
        h1{
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 32px;
        }
    }
}
