$text: #ffffff;
$text-gray: #A6B0C3;
$bg-dark : #161628;
$bg-light: #282C3C;
$blue: #008DFF;
$side-btn: #1E212D;
$input-bg: #202536;
$input-border: #3D4653;
$pools-text: #58667E;
$pink: #FE6480;
$fog: #323546;
