@import 'variables';
@import 'fonts';
@import "part";
@import 'header';
@import 'sidebar';
@import 'auth';
@import 'create_org';
@import 'pools';
@import 'pool';
@import 'profile';
@import 'contributions';
@import 'create_pool';
@import 'loading';
@import 'await';


body {
    background-color: var(--color-bg-light);
    color: var(--color-text);
    font-family: "Proxima Nova", sans-serif;
    overflow-x: hidden;
}

.fixed-body {
    overflow-y: hidden;
}
.main-view{
    /*max-width: 1588px;*/
    margin-left: 284px;
    margin-top: 98px;
    margin-right: 48px;
    border-radius: 0 10px 0 0;
    background: var(--color-bg-dark);
    min-height: calc(100vh - 98px);
    &.wide{
        max-width: none;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
        min-height: 100vh;
    }
}
.btn-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: $blue;
    border-radius: 40px;
    padding: 16px 64px;
    span{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $text;
    }
    svg{
        width: 24px;
        height: 24px;
    }
    svg + span{
        margin-left: 10px;
    }
    span + svg{
        margin-left: 10px;
    }
    &:disabled{
        opacity: 0.6;
        pointer-events: none;
    }
}



.loader {
    background: #161628;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cubeWrap {
    perspective: 800px;
    width: 300px;
    overflow: hidden;
    position: absolute;
    animation: bouncy 2s ease forwards;
}

.cube {
    margin: 8em auto;
    width: 6em;
    height: 6em;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -3em;
    position: relative;
    animation: spin 6s linear infinite;
    transform: rotateX(-50deg) rotateY(405deg);

    div {
        position: absolute;
        width: 6em;
        height: 6em;
        transform-style: preserve-3d;
    }
}

.faces1::before,
.faces1::after,
.faces2::before,
.faces2::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.faces1::before,
.faces2::before {
    transform: rotateY(90deg);
    transform-origin: 0 50%;
    background-color: #00FFFF;
}

.faces2 {
    transform: rotateX(180deg) translateZ(6em);
}

.faces2::before {
    background-color: #00FFFF;
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
}

.faces1::after,
.faces2::after {
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    background-color: #00FFFF;
}

// Base Color
$color: #0085FF;
// variations
$color2: lighten($color, 2%);
$color3: lighten($color, 4%);
$color4: lighten($color, 8%);
$color5: darken($color, 2%);
$color6: darken($color, 4%);

.faces1 {
    background-color: $color;
}

.faces2 {
    background-color: $color2;
}

.faces1::before {
    background-color: $color3;
}

.faces2::before {
    background-color: $color4;
}

.faces1::after {
    background-color: $color5;
}

.faces2::after {
    background-color: $color6;
}


@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(720deg) rotateY(360deg) rotateZ(0deg);
    }
}


@keyframes bouncy {
    /* up */
    0% {
        transform: translateY(-600px) scale(.8, 1.2);
        animation-timing-function: ease-in;
    }
    /* floor */
    30% {
        transform: translateY(0) scale(.8, 1.2);
        animation-timing-function: ease-out;
    }
    /* floor */
    32% {
        transform: translateY(0) scale(1, .8);
        animation-timing-function: ease-out;
    }
    /* up */
    45% {
        transform: translateY(-100px) scale(.9, 1.1);
        animation-timing-function: ease-in;
    }
    /* floor */
    60% {
        transform: translateY(0) scale(.9, 1.1);
        animation-timing-function: ease-out;
    }
    /* floor */
    62% {
        transform: translateY(0) scale(1, .9);
        animation-timing-function: ease-out;
    }
    /* up */
    70% {
        transform: translateY(-30px) scale(.9, 1.1);
        animation-timing-function: ease-in;
    }
    /* floor */
    80% {
        transform: translateY(0) scale(1, 1);
        animation-timing-function: ease-out;
    }
    /* floor */
    82% {
        transform: translateY(0) scale(1, .95);
        animation-timing-function: ease-out;
    }
    /* up */
    85% {
        transform: translateY(-10px) scale(.98, 1.02);
        animation-timing-function: ease-in;
    }
    /* floor */
    90% {
        transform: translateY(0) scale(1, 1);
        animation-timing-function: ease-out;
    }
}
span.select2{
    margin-bottom: 0!important;
    width: 100%!important;
    .select2-selection__arrow{
        width: 20px!important;
    }
    span{
        margin-bottom: 0!important;
        width: 100%!important;
    }
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border: $pools-text 1px solid;
    border-radius: 8px;
    background: var(--color-fog)!important;
    padding: 16px 24px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: $input-border;
    border-radius: 22px;
    color: $text;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    span{
        color: $text;
        margin-left: 10px;
        font-size: 28px;
        line-height: 28px;
    }
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: $pools-text 1px solid;
}
.select2-container .select2-selection--single{
    height: auto!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 24px!important;
    color: var(--color-text)!important;

}
.select2-container--open .select2-dropdown--below{
    padding: 16px 24px;
    background: var(--color-fog);
    border: $pools-text 1px solid;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: transparent!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected=true]{
    background: transparent;
    position: relative;
    color: var(--color-text)!important;
    &:after{
        position: absolute;
        right: -14px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 13px;
        height: 9px;
        background: url("/themes/default/img/check.svg") center center no-repeat;
        background-size: contain;
    }
}
.select2-container--default .select2-results__option--highlighted{
    background-color: $bg-light!important;
    color: $text!important;
    border-radius: 8px;

}
.select2-dropdown{
    background: $input-bg;
}
.select2-results__options{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.select2-results__option{
    padding: 8px;
    display: inline-block;
}
.select2-results__options--nested{
    flex-direction: row;
    flex-wrap: wrap;
}
.datepicker-panel>ul>li{
    background-color: var(--color-bg-light)!important;
}
.datepicker-container{
    padding: 5px;
    border-radius: 8px;
    box-shadow: none;
    background: var(--color-bg-light);
    border: 1px solid $input-border;
}

.hidden {
    display: none !important;
}

.link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #008DFF;
    border: none;
    background: none transparent;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 1670px) {
    .main-view{
        margin-left: 235px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1420px) {
    .main-view{
        margin-left: 20px;
    }
}
